# Challenge 3

In this challenge we will work on the `Orders` data set. In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

## Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [1]:
# import required libraries
import numpy as np
import pandas as pd

Next, extract and import `Orders` dataset into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [2]:
# your code here
orders = pd.read_csv('https://raw.githubusercontent.com/renatorbf/lab-dataframe-calculations/master/your-code/Orders/Orders.csv')
orders.head()

   Unnamed: 0  InvoiceNo StockCode  ...  CustomerID         Country  amount_spent
0           0     536365    85123A  ...       17850  United Kingdom         15.30
1           1     536365     71053  ...       17850  United Kingdom         20.34
2           2     536365    84406B  ...       17850  United Kingdom         22.00
3           3     536365    84029G  ...       17850  United Kingdom         20.34
4           4     536365    84029E  ...       17850  United Kingdom         20.34

[5 rows x 14 columns]

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [10]:
# your code here

# Sub Problem 1
orders_by_costumer = orders.groupby('CustomerID').agg({'amount_spent': 'sum'})

# Sub Problem 2
labels = ['Standard', 'Preferred', 'VIP']

# VIP = orders_by_costumer[orders_by_costumer['amount_spent'] > orders_by_costumer['amount_spent'].quantile(q=0.95)]
VIP = orders_by_costumer['amount_spent'].quantile(q=0.95)
preferred = orders_by_costumer[(orders_by_costumer['amount_spent'] < orders_by_costumer['amount_spent'].quantile(q=0.95)) & (orders_by_costumer['amount_spent'] > orders_by_costumer['amount_spent'].quantile(q=0.75))]
orders

# Sub Problem 3
orders_by_costumer

            amount_spent
CustomerID
12346           77183.60
12347            4310.00
12348            1797.24
12349            1757.55
12350             334.40
...                  ...
18280             180.60
18281              80.82
18282             178.05
18283            2094.88
18287            1837.28

[4339 rows x 1 columns]

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

## Q2: How to identify which country has the most VIP Customers?

In [4]:
# your code here

## Q3: How to identify which country has the most VIP+Preferred Customers combined?

In [5]:
# your code here